# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/sept_less_node.iml
# Project exclude paths
/node_modules/
/dist/
#Environment variables
/.env