<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header class="header">Activate</header>
<div class="main">
    Activate
    </div>
<div>
    <a href="{{frontUrl}}/activate?token={{token}}"> click for activate</a>
</div>
<footer class="footer"> <a href="https://google.com"> To google</a></footer>
</body>
</html>